.TimelineContent {
	position: relative;
	width: 100vw;
	display: flex;
	place-items: center;
	flex-wrap: wrap;
	justify-content: center;
	z-index: 10001;
}
.TimelinePhoto {
	width: 500px;
	max-width: 100vw;
	height: auto;
}
