.MainContainer {
  display: grid;
  grid-template-rows: auto 1fr auto;
  border: 2px solid skyblue;
  min-height: 100vh;
}

.loader {
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50vh;
}
