@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600");
body {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    /* Firefox */
    -moz-transition: all 2s ease;
    /* WebKit */
    -webkit-transition: all 1s ease;
    /* Opera */
    -o-transition: all 1s ease;
    /* Standard */
    transition: all 1s ease;
}

h1 {
    font-size: 60px;
    text-align: center;
}

.faq {
    position: relative;
    margin: 50px auto;
    padding: 40px 0;
    width: 100vw;
    box-sizing: border-box;
}

.faq ul {
    padding: 0;
    margin: 0;
}

.faq ul li {
    list-style: none;
    position: relative;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

// .content {
//     padding-bottom: 10px;
// }
.faq .toggle {
    width: 1.5vw;
    height: 1.5vw;
}

.faq .question {
    // width: 30vw;
    // padding-bottom: 10px;
    font-size: 1.4vw;
    font-family: Gentona;
}

.faq .answer {
    width: 100%;
    font-family: Jura;
}

.faq_left {
    width: 50%;
}

.faq_right {
    width: 50%;
}

@media only screen and (min-width:600px) {
    .faq_left {
        float: left;
        width: 50%;
    }
    .faq_right {
        float: right;
        width: 50%;
    }
}

.question {
    width: 100%;
}

.answer {
    width: 100%;
}