.About {
	display: grid;
	place-items: center;
	grid-template-columns: 1fr 1fr;
	width: 100%;
	height: auto;
	position: relative;
	top: 50px;
}

.Content {
	width: 60vw;
	font-family: "Jura";
	font-size: 1.2em;
	padding: 30px;
}

.Image {
	width: 40vw;
}

.milo {
	position: absolute;
	width: 0vw;
	right: 3.115vw;
	top: -6.233vw;
}

.miloa {
	animation: mymilo 3s 1;
	animation-fill-mode: forwards;
}

.hello {
	position: absolute;
	width: 0vw;
	right: -14.67vw;
	top: -18.74vw;
}
.helloa {
	animation: myhello 3s 1;
	animation-fill-mode: forwards;
}

.backg {
	position: absolute;
	width: 40vw;
	right: -6.23vw;
	top: -15.576vw;
	opacity: 0;
}

.backga {
	animation: mybackg 3s 1;
	animation-fill-mode: forwards;
}

@keyframes mybackg {
	0% {
		opacity: 0;
	}

	30% {
		opacity: 1;
	}

	100% {
		opacity: 1;
	}
}

@keyframes myhello {
	0% {
		width: 0vw;
		right: 25vw;
		top: 20vw;
	}

	60% {
		width: 0vw;
		right: 25vw;
		top: 20vw;
	}

	100% {
		width: 40vw;
		right: -14.67vw;
		top: -18.74vw;
	}
}

@keyframes mymilo {
	0% {
		width: 0vw;
		right: 25vw;
		top: 20vw;
	}

	25% {
		width: 0vw;
		right: 25vw;
		top: 20vw;
	}

	85% {
		width: 26.67vw;
		right: 3.115vw;
		top: -6.233vw;
	}
	100% {
		width: 26.67vw;
		right: 3.115vw;
		top: -6.233vw;
	}
}

#hello_aboutus {
	animation: mymove 5s infinite;
}

@keyframes mymove {
	100% {
		transform: rotate(90deg);
	}
}
