.Theme {
	// height: 100vh;
	position: relative;
	width: 100vw;
	display: grid;
	grid-template-rows: 1fr auto;
	place-items: center;
	z-index: 10001;
}

.ThemeElement {
	// border: 2px solid blue;
	display: flex;
	height: 100%;
	width: 100%;
	// min-height: 200px;
	place-items: center;
	flex-wrap: wrap;
	justify-content: center;
}

.ThemeSubPhoto {
	width: 100%;
	height: 100%;
}
.ImageText {
	position: absolute;
	left: 0px;
	top: 0px;
	font-size: 1em;
	width: 85%;
	left: 7.5%;
	top: 25%;
	height: 67%;
	padding: 5px;
	background-color: #f8fbfe;
	justify-content: center;
	text-align: center;
	display: grid;
	align-items: center;
	opacity: 0;
	font-weight: 900;
}

.ThemeSubElement {
	// border: 2px solid greenyellow;
	height: 300px;
	width: 300px;
	margin: 30px;
	display: grid;
	place-items: center;
	opacity: 0;
	animation: fadeIn 1s 1;
	animation-fill-mode: forwards;
	font-size: 1em;
	position: relative;
}

.ThemeSubElement:nth-child(2n) {
	animation-delay: 1s;
}
.ThemeSubElement:nth-child(3n) {
	animation-delay: 2s;
}

.themePhoto {
	height: 100%;
	width: auto;
}

.ThemeSubElement:hover > .ThemeSubPhoto {
	// animation: fadeimg 0.5s 1;
	// animation-fill-mode: forwards;
}

.ThemeSubElement:hover > .ImageText {
	animation: nofadetext 0.5s 1;
	animation-fill-mode: forwards;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeimg {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0.2;
	}
}

@keyframes nofadetext {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.SpecialThemeSubElement1 {
	position: relative;
	// left: 50%;
}

.SpecialThemeSubElement2 {
	position: relative;
	// right: 50%;
}

.ThemeMain {
	// border: 2px solid red;
	border-radius: 5%;
	height: 95%;
	width: 70%;
	overflow: hidden;
}

@media only screen and (max-width: 960px) {
	// .Theme {
	// 	grid-template-columns: auto;
	// 	grid-template-rows: auto 1fr auto;
	// }

	// .ThemeSubElement {
	// 	// align-items: left;
	// 	left: 0px;
	// 	text-align: left;
	// 	place-items: initial;
	// 	padding-left: 10%;
	// }

	// .SpecialThemeSubElement1 {
	// 	align-items: left;
	// 	left: 0px;
	// 	text-align: left;
	// 	place-items: end;
	// 	padding-right: 10%;
	// }

	// .SpecialThemeSubElement2 {
	// 	align-items: right;
	// 	left: 0px;
	// 	text-align: right;
	// 	place-items: end;
	// 	padding-right: 10%;
	// }

	// .ThemeMain {
	// 	height: 100%;
	// 	width: 100%;
	// }
}
