:root {
	font-size: 16px;
	font-family: "Open sans";
	/*--text-primary: #b6b6b6;*/
	--text-primary: #141418;
	/*--text-secondary: #ececec;*/
	--text-secondary: #23232e;
	/*--bg-primary: #23232e;*/
	--bg-primary: #ffffffaa;
	/*--bg-secondary: #141418;*/
	--bg-secondary: #b6b6b6;
	--transition-speed: 600ms;
}

.Sidebar {
	width: 40px;
	height: 100vh;
	position: fixed;
	background-color: var(--bg-primary);
}

.Sidebar-nav {
	list-style: none;
	padding: 0;
	margin: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.nav-item {
	width: 100%;
}

.nav-link {
	display: flex;
	align-items: center;
	height: 5rem;
	text-decoration: none;
	color: var(--text-primary);
}

.link-text {
	display: none;
	margin-left: 1rem;
}

.nav-link svg {
	width: 2rem;
	min-width: 2rem;
	margin: 0 1.5rem;
}

.nav-item:hover a {
	width: 12rem;
}

.Sidebar:hover .link-text {
	display: block;
	margin-right: 1rem;
}

.Sidebar a {
	display: flex;
	align-items: center;
	color: #3a3c3f;
	padding: 10px;
	margin-bottom: 18px;
	transition: 0.3s;
	font-size: 15px;
	border-radius: 70px;
	background: #f2f3f5;
	height: 28px;
	width: 100%;
	overflow: hidden;
	transition: 0.3s;
}

// .lni {
// 	padding: 10px;
// }

.Sidebar a:hover {
	background-color: #141418;
	color: #fff;
}
