#Sponsors {
	margin-top: 50px;
	width: 80vw;
	margin-left: 10vw;
	min-height: 100vh;
}

.Sponsor-head {
	font-family: "Jura";
	margin-top: 2rem;
}

#sponsors-logo {
	display: flex;
	justify-content: center;
	margin: 0px;
	flex-wrap: wrap;
}

#title-sponsors-logo {
	display: flex;
	justify-content: center;
	margin: 0px;
	flex-wrap: wrap;
	transition: transform .2s;
}

#giga-sponsors-logo {
	display: flex;
	justify-content: center;
	margin: 0px;
	flex-wrap: wrap;
	transition: transform .2s;
}
#sponsors-logo > div {
	max-width: 175px;
	width: 175px;
	max-height: 175px;
	margin: 25px;
}

#title-sponsors-logo > div {
	max-width: 375px;
	width: 375px;
	max-height: 375px;
	margin: 25px;
}

#giga-sponsors-logo > div {
	max-width: 275px;
	width: 275px;
	max-height: 275px;
	margin: 25px;
}

#sponsors-logo:hover > div img {
	-webkit-filter: brightness(0.2) invert(0.7);
	filter: brightness(0.1) invert(0.8);
}

#title-sponsors-logo:hover > div img {
	-webkit-filter: brightness(0.2) invert(0.7);
	filter: brightness(0.1) invert(0.8);
}

#giga-sponsors-logo:hover > div img {
	-webkit-filter: brightness(0.2) invert(0.7);
	filter: brightness(0.1) invert(0.8);
}

#sponsors-logo > div:hover {
	/*	max-width: 300px;
	width: 300px;
	max-height: 300px;*/
	animation: zoomin 1s 1;
	animation-fill-mode: forwards;
}

#title-sponsors-logo > div:hover {
	/*	max-width: 300px;
	width: 300px;
	max-height: 300px;*/
	animation: titlezoomin 1s 1;
	animation-fill-mode: forwards;
}

#giga-sponsors-logo > div:hover {
	/*	max-width: 300px;
	width: 300px;
	max-height: 300px;*/
	animation: gigazoomin 1s 1;
	animation-fill-mode: forwards;
}

#sponsors-logo > div:hover img {
	-webkit-filter: brightness(1) invert(0);
	filter: brightness(1) invert(0);
}

#title-sponsors-logo > div:hover img {
	-webkit-filter: brightness(1) invert(0);
	filter: brightness(1) invert(0);
}
#giga-sponsors-logo > div:hover img {
	-webkit-filter: brightness(1) invert(0);
	filter: brightness(1) invert(0);
}

.sponsor-img {
	width: 100%;
	height: auto;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	filter: grayscale(100);
	transition: all ease-in-out 0.1s;
	-webkit-filter: brightness(1) invert(0);
	filter: brightness(1) invert(0);
}

@media screen and (max-width: 960px) {
	#Sponsors {
		margin-top: 25px;
		width: 95vw;
		margin-left: 2.5vw;
		min-height: 100vh;
	}
	#sponsors-logo > div {
		max-width: 125px;
		max-height: 125px;
		margin: 20px;
	}
	#sponsors-logo > div:hover {
		/*	max-width: 200px;
		width: 200px;
		max-height: 200px;*/
		animation: zoominmob 1s 1;
		animation-fill-mode: forwards;
	}
}

@keyframes zoomin {
	0% {
		width: 175px;
		max-width: 175px;
		max-height: 175px;
	}
	100% {
		width: 225px;
		max-width: 225px;
		max-height: 225px;
	}
}

@keyframes titlezoomin {
	0% {
		width: 375px;
		max-width: 375px;
		max-height: 375px;
	}
	100% {
		width: 425px;
		max-width: 425px;
		max-height: 425px;
	}
}
@keyframes gigazoomin {
	0% {
		width: 275px;
		max-width: 275px;
		max-height: 275px;
	}
	100% {
		width: 325px;
		max-width: 325px;
		max-height: 325px;
	}
}

@keyframes zoominmob {
	0% {
		width: 125px;
		max-width: 125px;
		max-height: 125px;
	}
	100% {
		width: 175px;
		max-width: 175px;
		max-height: 175px;
	}
}

@keyframes zoomout {
	0% {
		width: 250px;
		max-width: 250px;
		max-height: 250px;
	}
	100% {
		width: 175px;
		max-width: 175px;
		max-height: 175px;
	}
}
